* {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

.calendar-nav {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 10px 0;
	align-items: start;
}

.calendar-nav li {
    font-size: 1.2rem;
}

.calendar-nav li a {
	text-decoration: none;
	color: var(--dark-blue);
}

.days{
	margin: 0;
	padding: 10px 0;
	background-color: var(--dark-blue);
	color: var(--white);
}

.days li {
	display: inline-block;
	width: 13%;
	text-align: center;
}

.weekdays{
	margin: 0;
	padding: 10px 0;
}

.weekdays li {
	display: inline-block;
	width: 14.28%;
	text-align: center;
	margin-bottom: 5px;
	font-size: 15px;
}

.weekdays li .events{
	color: var(--red);
}

.hide {
	display: none;
}

.events:hover + .hide {
	display: block;
	color: var(--red);
	font-size: 10px;
}

.weekdays li .inactive{
	color: var(--steel-gray);
}

.weekdays li .sunday{
	color: var(--vivid-medium-blue);
}

.today {
	background-color: var(--vivid-medium-blue);
	color: var(--white);
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 2rem;
	text-align: center;
}