*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Degular Demo', sans-serif;
}

.mainContainer{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    padding-left: 130px;
}

.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding: 1rem;;
    overflow-x: auto;
=======
    padding: 1rem;
    overflow-y: auto;
>>>>>>> e0f3618122fbeda6b13f6de4c2dd60ae60df99fe
}