*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Degular Demo', sans-serif;
}

.mainContainer{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    padding-left: 130px;
}

.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}