@font-face {
    font-family: 'Degular Demo';
    src: url('/public/assets/Fonts/DegularDemo-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Degular Demo';
    src: url('/public/assets/Fonts/DegularDemo-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}