:root {
    --deep-navy: #071C41;
    --black: #000000;
    --dark-blue: #10326F;
    --vivid-medium-blue: #014FB3;
    --slate-blue: #5572A6;
    --white: #FFFFFF;
    --gray:#E0DCDC;
    --dark-gray: #A9A9A9;
    --light-gray:#dbdbdb;
    --red: #D70040;
    --steel-gray: #808080;
}