:root {
    --deep-navy: #071C41;
    --black: #000000;
    --dark-blue: #10326F;
    --vivid-medium-blue: #014FB3;
    --slate-blue: #5572A6;
    --white: #FFFFFF;
    --gray:#E0DCDC;
    --dark-gray: #A9A9A9;
}