* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    background-image: linear-gradient(to right, var(--black) 20%, var(--dark-blue) 80%);
    height: 100px;
    padding: 1rem;
}

.header_container img {
    width: 100%;
    height: auto;
    max-width: 200px;
}