* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    background-image: linear-gradient(to right, #000000 20%, #14346D 80%);
    height: 98px;
    padding: 1rem;
}

.header_container img {
    width: 100%;
    height: auto;
    max-width: 200px;
}