.mainContainer{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

.sidebar{
    width: 125px;
    height: 100%;
    background-color: var(--dark-blue);
    color: var(--white);
    transition: width 0.3s ease;
    cursor: pointer;
    z-index: 100;
}

.navList{
    width: 100%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navItem{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrowIcon{
    display: none;
}

.sidebar:hover .arrowIcon {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
}

.navLogout{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Nav Bar Effects */
.sidebar:hover{
    width: 15%;
}

.sidebar:hover .navItem{
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
    transition: all 0.3s ease;  
}

.navItem:hover, 
.navLogout:hover{
    background-color: var(--slate-blue);
}


/* Sub Nav Item */
.dropdown {
    display: none;
}

.dropdown.visible {
    display: block;
    background-color: var(--deep-navy);
}

.dropdown a, .logout_button a{
    text-decoration: none;
    color: white;
}

.dropdown a:hover{
    text-decoration: underline;
    color: white;
}

.dropdown a p {
    padding: 0.5rem 1rem; 
}