.sidebar{
    display: none;
    position:fixed;
    width: 130px;
    height:calc(100vh - 100px);
    background-color: var(--deep-navy);
    transition: width .3s ease;
    color:var(--white);
    font-size: 1rem;
    font-family: 'Degular Demo', sans-serif;
    overflow-y: auto;
    z-index:1000;
}

.navList{
    width: 100%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navItem a {
    text-decoration: none;
    color: var(--white);
    background-color: transparent;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    transition: all 0.3s ease;
}

.navItem a:visited {
    color: var(--white);
}

.navItem{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.arrowIcon{
    display: none;
}

.sidebar:hover .arrowIcon,
.sidebar.dropdown-open .arrowIcon {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
}

.navLogout{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

/* Logout Button Link */
.navLogout a {
    text-decoration: none; 
    color: var(--white); 
    background-color: transparent; 
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    transition: all 0.3s ease;
}

.navLogout a:visited {
    color: var(--white); 
}


.navLogout a:hover {
    background-color: var(--slate-blue);
    color: var(--white); 
    cursor: pointer;
}

/* Icon inside Logout Button */
.navLogout a i {
    font-size: 1.5rem;
}

/* Nav Bar Effects */
.sidebar:hover,
.sidebar.expanded{
    width: 14%;
}

.sidebar:hover .navItem,
.sidebar.expanded .navItem{
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1rem;
    transition: all 0.3s ease;  
}

.navItem:hover, 
.navLogout:hover{
    background-color: var(--slate-blue);
}

/* Sub Nav Item */
.dropdown {
    display: none;
}

.dropdown.visible {
    display: block;
    background-color: var(--deep-navy);
}

.dropdown a, .logout_button a{
    text-decoration: none;
    color: white;
}

.dropdown a:hover{
    text-decoration: underline;
    color: white;
    text-underline-offset: 4px;
}

.dropdown a p {
    position: relative;
    padding: 0.5rem 1rem; 
    margin: 10px;
    border-left: none; 
}

.dropdown a p::before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 30%;         
    height: 42%;      
    width: 1px;
    background: var(--white);
}

.navList::-webkit-scrollbar {
    width: 8px;
}
.navList::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border: 1.5px solid var(--dark-gray);
}
.navList::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
}

.sidebar:hover .navItem,
.sidebar.expanded .navItem, 
.sidebar:hover .navLogout,
.sidebar.expanded .navLogout {
    border-top: 1px solid var(--slate-blue);
}

