/* ==== Body Container==== */
.mainContainer{
    display: flex;
    background-color: var(--white);
    width:100%;
    height: calc(100vh - 100px);
    font-family: 'Degular Demo', sans-serif;
}

/* ==== Navigation Bar Styling ==== */
.navBar{
    width: 20%;
    background-color: var(--deep-navy);
    margin: 1rem;
    padding: 2rem 2rem;
    border-radius: 10px;
}


.navBar__list{
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.navBar__list a , .navbar__logout{
    text-decoration: none;
    color: var(--white);
}

.navbar__logout{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.logout_button{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}

/* ==== Main Content Area ==== */
.contents{
    width: 80%;
    margin: 1rem;
    margin-left: 0; /* nilagay ko 'to pre para mabawasan ng isa since nag margin:1 pa so nadoble */
    display: flex;
    flex-direction: column;
}

.welcomeMessage{
    background-image:url('https://i.ibb.co/XkrzbqR2/Untitled-11-x-8-5-in.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:35%;
    color: var(--white);
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;   
    align-items: flex-end;         
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.schoolBulletin{
    display: flex;
    margin-top:1rem;
    height:65%;
    justify-content: space-between;
}

.announcements, 
.remarks, 
.calendar{
    background-color: var(--white);
    padding: 1.5rem;
    width:32%;
    height:100%; 
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}


