.selection{
    margin: 1rem 0;
    display: inline-flex;
    gap:1rem;
    font-size: 1rem;
    font-weight: normal;
}

select{
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 150px;
    margin-left: 0.5rem;
}

.syDiv{
    margin-right: 3rem;
}

.erfAndTable{
    display: flex;
    gap:1rem;
}

.erfFrame{
    width: 70%;
    height: 600px;
    margin: 1rem 0;
    border: 1px solid var(--black);
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.paymentMethods{
    width: 30%;
    max-height: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--black);
}

.paymentTitle{
    display: flex;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: .5rem 1rem;
    align-items: justify;
    font-size: 1.8rem;
}

.paymentButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.cardPayment{
    width: 85%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--deep-navy);
    color: white;
    text-decoration: none;       
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: normal;
}

.note{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
}

.popUpContainer {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 50px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: none;;
}

.popUpContainer.active {
    display: flex;
}

.bankDetails {
    width: clamp(400px, 80vw, 550px); 
    padding: 1.5rem; 
    gap: 1rem; 
    background-color: var(--light-gray);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
   
}

.bankHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.closeBttn {
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    align-self: flex-start;
}

.bankTitle h2 {
    color: var(--deep-navy);
    margin: 0;
    font-size: 1.6rem;
}

.bankInfo {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
}

.accName h3{
    font-size: 1rem;
}

.accName p {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    color: var(--dark-blue);
}

.bank {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: var(--vivid-medium-blue);
    font-size: 1rem;
}

.details {
    width: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.bank, .accountNum, .swiftCode {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.accountNum p, .swiftCode p {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    font-size: .9rem; /*overflows if 1rem*/
    margin-top: .4rem;
}














