.student-information{
    display: flex;
    margin: 1rem 0;
    gap: 4rem;
}

.student-name,
.student-number{
    display: flex;
    gap: .5rem;
}

.payment-history-table{
    width: 100%;
    border-collapse: collapse;
}

.payment-history-table__body{
    text-align: center;
}


th, td {
    border: 1px solid var(--dark-gray);
    padding: 0.5rem; 
    
}

th{
    background-color: var(--dark-blue);
    color: var(--white);
}

form{
    width: 100%;
}

.pending-file-upload__custom,
.received-file-upload__custom {
    width: 90%;
    display: inline-block;
    padding: .25rem .25rem;
    border-radius: 10px;
    color: var(--white);
}

.pending-file-upload__custom{
    background-color: var(--vivid-medium-blue);
    cursor: pointer;
}

.pending-file-upload__custom:hover {
    background-color: #013A7D;
}

.pending-file-upload__custom:active {
    background-color: #012A5B;
}

.received-file-upload__custom{
    background-color:  #7E7E7E;
    pointer-events: none;
}