.selection{
    margin: 1rem 0;
    display: inline-flex;
    gap:1rem;
}

select{
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 150px;
    margin-left: 0.5rem;
}

.syDiv{
    margin-right: 3rem;
}

.gradesTable{
    border-collapse: collapse;
    width:80%;
}

th, td {
    border: 1px solid var(--dark-gray);
    padding: 0.5rem; 
    font-size: 1rem;
}

th{
    background-color: var(--dark-blue);
    color: var(--white);
}

.gradeSummary{
    border-collapse: collapse;
    width: 45%;
    margin-top: 3rem;
}

.gradeSummary th{
    padding: 1.5rem;
    width: 40%;
}


