.scheduleTable{
    display: flex;
    justify-content: center;
    margin: 1rem 1.5rem;
}

Table{
    table-layout: fixed;
    border-collapse: collapse;
    width:95%;
    text-align: center;
}

th, td {
    border: 1px solid var(--dark-gray);
    padding: 0.8rem;
    width: 7rem;
    height: 3.5rem;
    min-height: 3.5rem;
    line-height: 1.2;
    vertical-align: middle;
    text-align: center;
}

.emptyCellPlaceholder{
    height: 3.5rem;
    min-height: 3.5rem;
}

th{
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: normal;
    
}

.selection{
    margin: 1rem 0;
    display: inline-flex;
    gap:1rem;
}

select{
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 150px;
    margin-left: 0.5rem;
}

.syDiv{
    margin-right: 3rem;
}
