.contents{
    gap: 1rem;
}

.sectionTitle{
    margin-left: 1rem;
}

.informationSection{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1rem;
}

/* Containers for each row of label and input */
.studentDetails,
.parentsDetails,
.emergencyContactDetails{
    display: flex;
    gap: 1rem;
}

/*  Field's Container */
.field,
.comorbiditiesField,
.allergiesField,
.genderInput{
    display: flex;
    flex-direction: column;
    width: 28%;
}

.comorbiditiesField,
.allergiesField,
.genderInput{
    display: none;
}

/* Checkbox Container */
.genderField,
.emergencyContactField{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 28%;
}


/* Medical History Radio Buttons */
.comorbidityOptions, .allergyOptions{ 
    display: flex;
    align-items: center;
    gap: 2rem;
}

hr{
    width: 88%;
}

.termsConditionsCheckbox{
    width: 86%;
    display: flex;
    align-items: center;
    text-align: justify;
    gap: .5rem;
}

/* Form */
#studentInformationForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

#gender{
    width: 100%;
    padding: .45rem;
    border-radius: 3px;
    border: gray 1px solid;
}

input[type="text"]{
    width: 100%;
    padding: .5rem;
    border-radius: 3px;
    border: gray 1px solid;
    background-color: var(--light-gray);
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}

.buttonContainer{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
}

.submitBtn{
    width: 28%;
    cursor: pointer;
    background-color: var(--deep-navy);
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    font-size: clamp(.8rem, 1.25vw, 1.5rem);
}