.contents{
    gap: 1rem;
}

.informationSection{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 1rem;
}

/* Containers for each row of label and input */
.studentDetails,
.parentsDetails,
.emergencyContactDetails{
    display: flex;
    gap: 1rem;
}

/*  Field's Container */
.field{
    display: flex;
    flex-direction: column;
    width: 25%;
}

/* Checkbox Container */
.genderField,
.emergencyContactField{
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 25%;
}

.hospitalizationContainer,
.hospitalizationAnswer,
.hospitalizationReasonContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Input Field */
.hospitalizationReasonContainer{
    width: 25%;
}

/* Illness Checkbox Group Container */
.applicableIllnesses{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.illnessField{
    display: flex;
    align-items: center;
    gap: .5rem;
}

/* Other Illness Input Field */
.otherIllnessInput{
    width: 19%;
}


.otherHealthConcern{
    display: flex;
    flex-direction: column;
    width: 35%;
}

/* Form */
#studentInformationForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

input[type="text"] {
    width: 100%;
    padding: .5rem;
    border-radius: 3px;
    border: gray 1px solid;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}